<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Sheet Management</title>
    <style>
        .field{
            height: 2vw;
            border-radius: 10px;
            width: 25%;
            margin-top: 2%;
            margin-left: 30%;
        }
        #button{
            height: 2vw;
            border-radius: 10px;
            width: 15%;
            margin-top: 2%;
            margin-left: 35%;
        }
    </style>
</head>
<body>
    <h1>Time Sheet Management</h1>
    <a href="/add"><button>Add</button></a>
    <a href="/show"><button>Show</button></a>
    <form action="/timeSheetManagement">
        <input class="field" type="text" name="user_name" placeholder="Enter your name :"><br>
        <input class="field" type="date" name="date_of_task" placeholder="Enter your task date :"><br>
        <input class="field" type="number" name="no_of_hours" placeholder="No of hours :"><br>
        <input class="field" type="text" name="task_name" placeholder="Enter your task name :"><br>
        <input id="button" type="submit" value="Submit">
    </form>
</body>
</html>